.chart-card {
    padding: .4rem;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid lightblue;
    background-color: floralwhite;
    flex-shrink: 0;
}

.chart-wrapper {
    width: 100%;
    height: 180px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.6rem;
    margin: 0 0 4px 0;
}

h2 {
    font-size: 1.2rem;
    margin: 0 0 4px 0;
}

h3 {
    font-size: 0.9rem;
    margin: 0 0 4px 0;
}

p {
    font-size: 0.9rem;
    margin: 2px 0;
}