.chart-card {
    padding: .4rem;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    border: 2px solid lightblue;
    background-color: floralwhite;
}

.chart-wrapper {
    width: 100%;
    height:200px;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3rem;
}
p {
    font-size: 1.2rem;
}